<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yurilium Tech Blog</title>
</head>
<body>
    
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout-btn">Logout</button>
        {{else}}
        <a href="/login">Dashboard</a>
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <header>
        {{#if dashboard}}
        <h1>Your Dashboard</h1>
        {{else}}
        <h1>Yurilium Tech Blog</h1>
        {{/if}}
    </header>

    {{{ body }}}

    <footer>
        <h2>Thank you for your visit⚜️</h2>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>
