<section>
    {{#each posts as |post|}}
    <div>
        <a href="/dashboard/edit/{{id}}">{{title}}</a>  
        <p>{{format_date created_at}}</p>
    </div>
    {{/each}}
</section>
<a href="/dashboard/new">+ New Post</a>