<section class="px-4 py-2">
    <div class="border border-dark">
        <h2 class="bg-dark px-3 py-2 text-info">Edit Post</h2>
        <div class="px-3 py-1 d-flex flex-column text-dark">
            <form class="edit-post-form d-flex flex-column" data-post="{{post.id}}">
                <div class="my-1 d-flex flex-column">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="{{post.title}}" />
                </div>
                <div class="my-1 d-flex flex-column">
                    <label for="content">Content</label> 
                    <input type="text" id="content" name="content" value="{{post.contents}}" />
                </div>
                <button type="submit" id="edit-post" class="my-2">Update Post</button>
            </form>
            <button type="button" id="delete-post" class="my-2">Delete</button>
        </div>
    </div>
</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>