<section>
    {{#each posts as |post|}}
    <article>
        <div>
            <h2>{{title}}</h2>
            <p>Posted by {{user.username}} on {{created_at}}</p>
        </div>
        <p>{{contents}}</p>
    </article>
    {{/each}}
</section>