<section>
    <h2>Sign Up</h2>
    <form class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Login!</button>
        <a href="/login">Login instead</a>
    </form>
</section>

<script src="/javascript/login.js"></script>