* {
    box-sizing: border-box;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.8vw;
}

nav > a:hover {
    text-decoration: none;
}

body {
    background: #C6EBE9;
}

h2 {
    font-size: 1.2vw;
}

.post-date {
    font-size: 12px;
}
